*{
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  
}



/*============ back ground ==========*/


html {
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.main{
  height:100%;
  width: 100%;
  border: 1px solid red;
  position: relative;
  
    background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
  
}

/*#videoDiv {width: 100%; position: relative;}*/

/*
.video{
  border: 1px solid green;
  margin: 0px;
 
  position: absolute;
  width: 100%;
  height: 100%;

   background-repeat: no-repeat;
 background-size: cover;
 background-position: center;

}*/



.video-spot{
  position:relative;  
/* background-image: url("sun.jpg");*/
 width: 100%;
 height: 500px;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
  
}